/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*COMMON*/
.container {
    width: 80%;
    margin: 0 auto;
}
.flex-container {
    display: flex;
}

/*HEADER*/
header {
    background-color: #ff6900;
    height: 50px;

}

/*Menu*/
.navigation-area {
    background-color: pink;
    align-items: center;
    height: 100%;


}
nav {
    width: 30%;
}
.menu {
    list-style-type: none;
}
.menu li {
    padding: 0 10px;
}
.menu li a {
    text-decoration: none;
    color: white;

}
/*Logo*/
.logo {
    justify-content: center;
    width: 60%;
}
.logo img {
    height: 30px;

}
/* Profile */
.profile {
    width: 30%;
    color: white;
    justify-content: right;

    
}
